<app-layout-admin>
    <div class="content-wrapper">
        <div class="row">
        </div>
    </div>
    <div class="col-md-12 grid-margin">
        <div class="row">
          <div class="col-12 col-xl-8 mb-4 mb-xl-0">
            <h3 class="font-weight-bold">Testimonial

                <a [routerLink]="['../add']" class="btn btn-primary btn-sm text-right">Add</a>
            </h3>
            <!-- <h6 class="font-weight-normal mb-0">All systems are running smoothly! You have <span class="text-primary">3 unread alerts!</span></h6> -->
          </div>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Name</th>
                  <th>Photo</th>
                  <th>Designation</th>
                  <th>Action</th>
              </tr>
              </thead>
              <tbody>
                <tr *ngFor="let _testimonial of testimonials; let i = index">
                  <td class="py-1">{{i+1}}</td>
                  <td>{{_testimonial.name}}</td>
                  <td><img [src]="_testimonial.photo" class="profilePhoto" /></td>
                  <td>{{_testimonial.title}}</td>
                  <td><button class="btn btn-outline-primary btn-fw btn-sm" [routerLink]="['../edit',_testimonial.id]">Edit</button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
    </div>

    
</app-layout-admin>