<app-layout-admin>
    <div class="content-wrapper">
        <div class="row">
        </div>
    </div>
    <div class="col-md-12 grid-margin">
        <div class="row">
          <div class="col-12 col-xl-8 mb-4 mb-xl-0">
            <h3 class="font-weight-bold">NRI

                <a [routerLink]="['../add']" class="btn btn-primary btn-sm text-right">Add</a>
            </h3>
            <!-- <h6 class="font-weight-normal mb-0">All systems are running smoothly! You have <span class="text-primary">3 unread alerts!</span></h6> -->
          </div>
          <div class="table-responsive">
            <table class="table table-striped nri-table" >
              <thead>
                <tr>
                  <th style="width:20px;">#</th>
                  <th style="width:20px;">Question</th>
                  <th style="width:20px;">Answer</th>
                  <th style="width:20px;">Action</th>
              </tr>
              </thead>
              <tbody>
                <tr *ngFor="let _nriCorner of nriCorners; let i = index">
                  <td class="py-1">{{i+1}}</td>
                  <td>{{_nriCorner.question}}</td>
                  <td>{{_nriCorner.answer|stripHtml}}</td>
                  <td ><button class="btn btn-outline-primary btn-fw btn-sm" [routerLink]="['../edit',_nriCorner.id]">Edit</button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
    </div>

    
</app-layout-admin>