<div class="content-wrapper d-flex align-items-center auth px-0">
    <div class="row w-100 mx-0">
        <div class="col-lg-4 mx-auto">
            <div class="auth-form-light text-left py-5 px-4 px-sm-5">
                <div class="brand-logo">
                    <img src="assets/images/Bricks-logo.png" alt="logo">
                </div>
                <h4>Forget password</h4>

                <form class="pt-3" [formGroup]="forgetPasswordForm" (ngSubmit)="onSubmit()" novalidate>
                    <div class="form-group">
                        <input type="email" class="form-control" formControlName="email" name="email"
                            placeholder="Enter email address" required />
                        <span class="text-danger"
                            *ngIf="(registerFormControl.email.touched || submitted) && registerFormControl.email.errors?.required">
                            Email is required
                        </span>
                        <span class="text-danger"
                            *ngIf="registerFormControl.email.touched && registerFormControl.email.errors?.email">
                            Enter a valid email address
                        </span>
                        <button class="btn btn-block btn-primary mt-3">Forget password</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>