<app-layout-admin>
  <div class="row">
    <div class="content-wrapper">
      <div class="row">
        <div class="col-lg-12">
          <div class="d-flex align-items-center justify-content-between">
            <h3 class="font-weight-bold">CMS</h3>
            <!-- <button class="btn btn-outline-primary" type="button">
              <i class="fa fa-user" aria-hidden="true"></i>
              
              Add User</button> -->
          
          </div>
        </div>
        
      </div>
      
    </div>
    <div class="col-md-12 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <div class="d-flex align-items-center justify-content-between">
            <h4 class="card-title">Content Management</h4>
            <div class="form-group pull-right">
              <div class="input-group">
                <input type="text" class="form-control" placeholder="Search" aria-label="Recipient's username">
                <div class="input-group-append">
                  <button class="btn btn-sm btn-primary" type="button">Search</button>
                </div>
              </div>
            </div>

          </div>
          
          <!-- <p class="card-description">
            Add class <code>.table-striped</code>
          </p> -->
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>#</th>
                  <th class="sort sort-asc">Title</th>
                  <th>Action</th>
              </tr>
              </thead>
              <tbody>
                <tr>
                  <td class="py-1">1</td>
                  <td>Home</td>
                  <td><button class="btn btn-outline-primary btn-fw btn-sm" [routerLink]="['../home']">Edit</button>
                  </td>
                </tr>
                <tr>
                  <td class="py-1">2</td>
                  <td>About Us</td>
                  <td><button class="btn btn-outline-primary btn-fw btn-sm" [routerLink]="['../about-us']">Edit</button>
                  </td>
                </tr>

                <tr>
                  <td class="py-1">3</td>
                  <td>Contact Us</td>
                  <td><button class="btn btn-outline-primary btn-fw btn-sm" [routerLink]="['../contact-us']">Edit</button>
                  </td>
                </tr>
                <tr>
                  <td class="py-1">4</td>
                  <td>Privacy Policy</td>
                  <td>
                    <button class="btn btn-outline-primary btn-fw btn-sm" [routerLink]="['../privacy-policy']">Edit</button>
                  </td>
                </tr>


               

                <tr>
                  <td class="py-1">6</td>
                  <td>Ask a Question</td>
                  <td><button class="btn btn-outline-primary btn-fw btn-sm" [routerLink]="['../contact-us']">Edit</button>
                  </td>
                </tr>

                <tr>
                  <td class="py-1">7</td>
                  <td>Consultant</td>
                  <td><button class="btn btn-outline-primary btn-fw btn-sm" [routerLink]="['../consultant']">Edit</button>
                  </td>
                </tr>

                <tr>
                  <td class="py-1">8</td>
                  <td>Real Estate</td>
                  <td><button class="btn btn-outline-primary btn-fw btn-sm" [routerLink]="['../real-estate']">Edit</button>
                  </td>
                </tr>

                <tr>
                  <td class="py-1">9</td>
                  <td>Legal</td>
                  <td><button class="btn btn-outline-primary btn-fw btn-sm" [routerLink]="['../legal']">Edit</button>
                  </td>
                </tr>

                <tr>
                  <td class="py-1">7</td>
                  <td>Cities</td>
                  <td><button class="btn btn-outline-primary btn-fw btn-sm" [routerLink]="['../contact-us']">Edit</button>
                  </td>
                </tr>

                <tr>
                  <td class="py-1">8</td>
                  <td>Grow together </td>
                  <td><button class="btn btn-outline-primary btn-fw btn-sm" [routerLink]="['../contact-us']">Edit</button>
                  </td>
                </tr>

                <tr>
                  <td class="py-1">9</td>
                  <td>Our trusted innovators</td>
                  <td><button class="btn btn-outline-primary btn-fw btn-sm" [routerLink]="['../contact-us']">Edit</button>
                  </td>
                </tr>

                

                
              </tbody>
            </table>
          </div>
        </div>
    </div>

    </div>

  </div>
    
</app-layout-admin>
