<app-layout-admin>
    <div class="content-wrapper">
      <div class="row">
        <div class="col-lg-12">
          <div class="d-flex align-items-center justify-content-between">
            <h3 class="font-weight-bold">Property</h3>
            <button class="btn btn-outline-primary" type="button">
              <i class="fa fa-user" aria-hidden="true"></i>
              
              Add Property</button>
          
          </div>
        </div>
        
      </div>
        
    </div>
    <div class="col-md-12 grid-margin">
      <div class="row">

        <div class="col-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                  <div class="d-flex align-items-center justify-content-between">
                    <h4 class="card-title">Property Listing</h4>
                    <div class="form-group pull-right">
                      <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search" aria-label="Recipient's username">
                        <div class="input-group-append">
                          <button class="btn btn-sm btn-primary" type="button">Search</button>
                        </div>
                      </div>
                    </div>
                  </div>
                    
                    <div class="table-responsive">
                        <table class="table table-striped">
                          <thead>
                            <tr>
                              <th>#</th>
                              <th>Photo</th>
                              <th class="sort sort-asc">Title</th>
                              <th class="sort sort-desc">Location</th>
                              <th class="sort">Type</th>
                              <th>Action</th>
                          </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let _property of properties; let i = index">
                              <td class="py-1">{{i+1}}</td>
                              <td><img [src]="_property.images[0]" /></td>
                              <td>{{_property.title}}</td>
                              <td>{{_property.location}}</td>
                              <td>{{_property.type?'Rent':'self Owned'}}</td>
                              <td><button class="btn btn-outline-primary btn-fw btn-sm" [routerLink]="['../edit',_property.id]">Edit</button>
                              </td>
                            </tr>
                            
  
                            
                          </tbody>
                        </table>
                      </div>

                      <section class="row">
                        <article class="col-lg-12">
                          <ul class="nav flex-row justify-content-center pt-5">
                            <li class="nav-item">
                              <a href="" class="btn btn-outline-primary btn-rounded btn-rounded-edit btn-icon mr-1">  <i class="fa fa-angle-left" aria-hidden="true"></i></a>
                            </li>
                            <li>
                              <a href="" class="btn btn-outline-primary btn-rounded btn-rounded-edit btn-icon mr-1"> <span>1</span></a>
                            </li>
                            <li>
                              <a href="" class="btn btn-outline-primary btn-rounded btn-rounded-edit btn-icon mr-1">  <span>2</span></a>
                            </li>
                            <li>
                              <a href="" class="btn btn-primary btn-rounded btn-rounded-edit btn-icon mr-1"> <span>3</span></a>
                            </li>
                            <li>
                              <a href="" class="btn btn-outline-primary btn-rounded btn-rounded-edit btn-icon mr-1"> <span>4</span></a>
                            </li>
                            <li>
                              <a href="" class="btn btn-outline-primary btn-rounded btn-rounded-edit btn-icon mr-1"> <span>5</span></a>
                            </li>
                            <li>
                              <a href="" class="btn btn-outline-primary btn-rounded btn-rounded-edit btn-icon mr-1">  <i class="fa fa-angle-right" aria-hidden="true"></i></a>
                            </li>
                          </ul>
      
                        </article>
      
                      </section>
                </div>
            </div>
        </div>
    </div>

    </div>
</app-layout-admin>

