<p>nri-update works!</p>
<app-layout-admin>
    <div class="content-wrapper">
        <div class="row">

            <div class="col-12 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">{{ editMode?'Update':'Add'}} NRI</h4>
                    <!-- <p class="card-description">
                      Basic form elements
                    </p> -->

                    <div class="text-danger"  #errorHTML>


                    </div>


                    <form class="forms-sample" #policyF="ngForm" (ngSubmit)="policyF.form.valid && update(policyF,errorHTML)" novalidate>
                      <input type="hidden"  name="id"  />

                      <div class="form-group">
                        <label for="exampleInputQuestion">Section</label>
                       <select class="form-control">
                           <option>Select:</option>
                           <option value="">Non - Resident Indian / Persons of Indian Origin</option>
                           <option value="">Acquistion and transfer of immovable property in India by a person resident outside India</option>
                       </select>
                       
                      </div>
                   
                      <div class="form-group">
                        <label for="exampleInputQuestion">Question</label>
                        <textarea class="form-control" id="exampleInputQuestion" placeholder="Question">

                        </textarea>
                       
                      </div>

                      

                      <div class="form-group">
                        <label for="exampleInputEmail3">Answer</label>
                        <angular-editor [(ngModel)]="privacyPolicy.description" name="description" [config]="editorConfig"></angular-editor>
                      </div>

                      

                    
                      
                      
                      
                      
                      <button type="submit" class="btn btn-primary mr-2">Submit</button>
                      <button class="btn btn-light">Cancel</button>
                    </form>
                  </div>
                </div>
              </div>
        </div>
    </div>
</app-layout-admin>
