<app-layout-admin>
    <div class="content-wrapper">
        <div class="row">

            <div *ngIf="blog" class="col-12 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">Blog</h4>
                    <!-- <p class="card-description">
                      Basic form elements
                    </p> -->

                    <div class="text-danger"  #errorHTML>


                    </div>


                    <form class="forms-sample" #policyF="ngForm" (ngSubmit)="policyF.form.valid && update(policyF,errorHTML)" novalidate>
                      <input type="hidden"  name="id"  />
                   
                      <div class="form-group">
                        <label for="exampleInputTitle">Title</label>
                        <input type="text" class="form-control" id="exampleInputTitle" [(ngModel)]="blog.title" placeholder="Title"  name="title" required />
                      </div>

                      <div class="form-group">
                        <div class="form-check form-check-primary">
                          <label class="form-check-label">
                            <input type="checkbox" class="form-check-input" [(ngModel)]="blog.isFeatured" name="isFeatured" [checked]="blog.isFeatured">
                            Featured
                          <i class="input-helper"></i></label>
                        </div>
                      </div>

                      <div class="form-group">
                        <label for="exampleInputEmail3">Description</label>
                        <angular-editor [(ngModel)]="blog.description" name="description" [config]="editorConfig"></angular-editor>
                      </div>

                      <div class="form-group">
                        <label>Banner Image</label>
                        <div class="col-xs-12">
                            <app-widget-file-upload limit="1" [files]="privacyPolicy.banners" (onChange)="bannerImageUpload($event)" (onAfterUpload)="bannerImageUpload($event)" accept="image/*" folder="banner" placeholder="Upload Multiple Images"></app-widget-file-upload>
                        </div>
                      </div>

                    <div class="form-group">
                        <label>Categories</label>
                        <div class="row"  >
                          <div class="col-md-4">
                              <div class="form-check">
                                  <label class="form-check-label">
                                  <input type="checkbox" class="form-check-input" checked="">
                                  Category 1
                                  <i class="input-helper"></i></label>
                              </div>
                          </div>

                          <div class="col-md-4">
                              <div class="form-check">
                                  <label class="form-check-label">
                                  <input type="checkbox" class="form-check-input" checked="">
                                  Category 2
                                  <i class="input-helper"></i></label>
                              </div>
                          </div>
                          <div class="col-md-4">
                              <div class="form-check">
                                  <label class="form-check-label">
                                  <input type="checkbox" class="form-check-input" checked="">
                                  Category 3
                                  <i class="input-helper"></i></label>
                              </div>
                          </div>
                          <div class="col-md-4">
                              <div class="form-check">
                                  <label class="form-check-label">
                                  <input type="checkbox" class="form-check-input" checked="">
                                  Category 4
                                  <i class="input-helper"></i></label>
                              </div>
                          </div>
                          <div class="col-md-4">
                              <div class="form-check">
                                  <label class="form-check-label">
                                  <input type="checkbox" class="form-check-input" checked="">
                                  Category 5
                                  <i class="input-helper"></i></label>
                              </div>
                          </div>

                          
                            

                        </div>

                    </div>

                    <div class="form-group">
                        <label>Tags</label>
                        <div class="row"  >
                          <div class="col-md-4">
                              <div class="form-check">
                                  <label class="form-check-label">
                                  <input type="checkbox" class="form-check-input" checked="">
                                  Tag 1
                                  <i class="input-helper"></i></label>
                              </div>
                          </div>

                          <div class="col-md-4">
                              <div class="form-check">
                                  <label class="form-check-label">
                                  <input type="checkbox" class="form-check-input" checked="">
                                  Tag 2
                                  <i class="input-helper"></i></label>
                              </div>
                          </div>
                          <div class="col-md-4">
                              <div class="form-check">
                                  <label class="form-check-label">
                                  <input type="checkbox" class="form-check-input" checked="">
                                  Tag 3
                                  <i class="input-helper"></i></label>
                              </div>
                          </div>
                          <div class="col-md-4">
                              <div class="form-check">
                                  <label class="form-check-label">
                                  <input type="checkbox" class="form-check-input" checked="">
                                  Tag 4
                                  <i class="input-helper"></i></label>
                              </div>
                          </div>
                          <div class="col-md-4">
                              <div class="form-check">
                                  <label class="form-check-label">
                                  <input type="checkbox" class="form-check-input" checked="">
                                  Tag 5
                                  <i class="input-helper"></i></label>
                              </div>
                          </div>

                          
                            

                        </div>
                    </div>

                    <div class="form-group">
                        <label for="exampleInputTitle">Author</label>
                        <select class="form-control">
                            <option>Author 1</option>
                            <option>Author 2</option>

                        </select>
                    </div>

                    <div class="form-group">
                        <label for="exampleInputDate">Published on</label>
                        <input type="text" class="form-control" id="exampleInputDate" [(ngModel)]="blog.publishedOn" placeholder="MM/DD/YYYY"  name="date" required />
                    </div>
                      
                      
                      
                      
                      <button type="submit" class="btn btn-primary mr-2">Submit</button>
                      <button class="btn btn-light">Cancel</button>
                    </form>
                  </div>
                </div>
              </div>
        </div>
    </div>
</app-layout-admin>
