<app-layout-admin>
    <div class="content-wrapper">
        <div class="row">

            <div class="col-12 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">Career</h4>
                    <!-- <p class="card-description">
                      Basic form elements
                    </p> -->

                    <div class="text-danger"  #errorHTML>


                    </div>


                    <form class="forms-sample" #policyF="ngForm" (ngSubmit)="policyF.form.valid && update(policyF,errorHTML)" novalidate>
                      <input type="hidden"  name="id"  />
                      <div class="form-group">
                        <label for="exampleInputDesignation">Designation</label>
                        <input type="text" class="form-control" id="exampleInputDesignation" placeholder="Designation"  name="designation" required />
                      </div>

                      <div class="form-group">
                        <label for="exampleInputLocation">Location</label>
                        <input type="text" class="form-control" id="exampleInputLocation" placeholder="Location"  name="location" required />
                      </div>
                      <div class="form-group">
                        <label for="exampleInputDuration">Duration:</label>
                       <select class="form-control">
                           <option>Duration:</option>
                           <option>Part Time</option>
                           <option>Full Time</option>
                           <option>Internship</option>
                       </select>
                      </div>

                      <div class="form-group">
                        <label for="exampleInputEmail3">Description</label>
                        <angular-editor name="description" [config]="editorConfig"></angular-editor>
                      </div>
                      
                     
                      <button type="submit" class="btn btn-primary mr-2">Submit</button>
                      <button class="btn btn-light">Cancel</button>
                    </form>
                  </div>
                </div>
              </div>
        </div>
    </div>
</app-layout-admin>
