<app-layout-admin>
    <div class="content-wrapper">
        <div class="row">
          <div class="col-lg-12">
            <div class="d-flex align-items-center justify-content-between">
              <h3 class="font-weight-bold">Users</h3>
              <button class="btn btn-outline-primary" type="button">
                <i class="fa fa-user" aria-hidden="true"></i>
                
                Add User</button>
            
            </div>
          </div>
          
        </div>
    </div>
    <div class="col-md-12 grid-margin">
        <div class="row">
          <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
              <div class="card-body">
                <div class="d-flex align-items-center justify-content-between">
                  <h4 class="card-title">User Listing </h4>
                  <div class="form-group pull-right">
                    <div class="input-group">
                      <input type="text" class="form-control" placeholder="Search" aria-label="Recipient's username" #searchInput>
                      <div class="input-group-append">
                        <button class="btn btn-sm btn-primary" type="button" (click)="search(searchInput)">Search</button>
                      </div>
                    </div>
                  </div>
                </div>
                
                <div class="table-responsive">
                  <table class="table table-striped">
                    <thead>
                      <tr>
                        <th>#</th>
                        <th class="sort sort-asc">User</th>
                        <th class="sort sort-desc">Email</th>
                        <th class="sort">Contact </th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let _user of users$|async; let i = index">
                        <td class="py-1">{{i+1}}</td>
                        <td>{{_user.fullname}}</td>
                        <td>{{_user.email}}</td>
                        <td>{{_user.mobile}}</td>
                        <td>
                          <button class="btn btn-primary btn-rounded btn-rounded-edit btn-icon mr-1" [routerLink]="['../edit',_user._id]">  <i class="fa fa-pencil" aria-hidden="true"></i>
                        </button>
      
                        <button class="btn btn-primary btn-rounded btn-rounded-edit btn-icon mr-1" [routerLink]="['../edit']"> <i class="fa fa-check" aria-hidden="true"></i>
      
      
                        </button>
      
                        <button class="btn btn-primary btn-rounded btn-rounded-edit btn-icon mr-1" [routerLink]="['../edit']">  <i class="fa fa-eye" aria-hidden="true"></i>
      
                        </button>
      
                        <button class="btn btn-primary btn-rounded btn-rounded-edit btn-icon mr-1" [routerLink]="['../edit']">  <i class="fa fa-trash" aria-hidden="true"></i>
      
                        </button>
      
                        
      
      
                         
      
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>

                <section class="loader" *ngIf="inProgress"> 
                  <div> Loading....</div>
                </section>

                <section class="row">
                  <article class="col-lg-12">
                    <ul class="nav flex-row justify-content-center pt-5">
                      <li class="nav-item">
                        <a href="" class="btn btn-outline-primary btn-rounded btn-rounded-edit btn-icon mr-1">  <i class="fa fa-angle-left" aria-hidden="true"></i></a>
                      </li>
                      <li>
                        <a href="" class="btn btn-outline-primary btn-rounded btn-rounded-edit btn-icon mr-1"> <span>1</span></a>
                      </li>
                      <li>
                        <a href="" class="btn btn-outline-primary btn-rounded btn-rounded-edit btn-icon mr-1">  <span>2</span></a>
                      </li>
                      <li>
                        <a href="" class="btn btn-primary btn-rounded btn-rounded-edit btn-icon mr-1"> <span>3</span></a>
                      </li>
                      <li>
                        <a href="" class="btn btn-outline-primary btn-rounded btn-rounded-edit btn-icon mr-1"> <span>4</span></a>
                      </li>
                      <li>
                        <a href="" class="btn btn-outline-primary btn-rounded btn-rounded-edit btn-icon mr-1"> <span>5</span></a>
                      </li>
                      <li>
                        <a href="" class="btn btn-outline-primary btn-rounded btn-rounded-edit btn-icon mr-1">  <i class="fa fa-angle-right" aria-hidden="true"></i></a>
                      </li>
                    </ul>

                  </article>

                </section>


              </div>
            </div>

          </div>





         
          
        </div>
    </div>

    
</app-layout-admin>