<app-layout-admin>
    <div class="content-wrapper">
        <div class="row">
          <div class="col-lg-12">
            <div class="d-flex align-items-center justify-content-between">
              <h3 class="font-weight-bold">Grow Together</h3>
              <!-- <button class="btn btn-outline-primary" (click)="add()" type="button">
                <i class="fa fa-user" aria-hidden="true"></i>
                
                Add New</button> -->
            
            </div>
          </div>
          
        </div>
    </div>
    <div class="col-md-12 grid-margin">
        <div class="row">
          <div class="col-lg-6 grid-margin stretch-card">
            <div class="card">
              <div class="card-body">
                <div class="d-flex align-items-center justify-content-between">
                  <h4 class="card-title">Grow Together </h4>
                  <!-- <div class="form-group pull-right">
                    <div class="input-group">
                      <input type="text" class="form-control" placeholder="Search" aria-label="Recipient's username">
                      <div class="input-group-append">
                        <button class="btn btn-sm btn-primary" type="button">Search</button>
                      </div>
                    </div>
                  </div> -->
                </div>
                
                <div class="table-responsive">
                  <table class="table table-striped">
                    <thead>
                      <tr>
                        <th>#</th>
                        <th class="sort sort-asc">Title</th>
                        
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let _data of growTogetherContents; let i = index">
                        <td class="py-1">{{i+1}}</td>
                        <td>{{_data.title}}</td>
                        <td>
                          <button class="btn btn-primary btn-rounded btn-rounded-edit btn-icon mr-1" (click)="update()">  <i class="fa fa-pencil" aria-hidden="true"></i>
                        </button>
                        <!-- <button class="btn btn-primary btn-rounded btn-rounded-edit btn-icon mr-1" (click)="update()">  <i class="fa fa-trash" aria-hidden="true"></i></button> -->
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>



              </div>
            </div>

          </div>

          <div class="col-lg-6 grid-margin stretch-card">

            <div class="card" *ngIf="isEditMode" >
                <div class="card-body">
                  <h4 class="card-title">{{ isEditMode?'Update':'Add New'}}</h4>
                  <!-- <p class="card-description">
                    Basic form elements
                  </p> -->

                  <div class="text-danger"  #errorHTML>


                  </div>


                    <form class="forms-sample" novalidate>
                        <input type="hidden"  name="id"  />
                        <div class="form-group">
                            <label for="exampleInputTitle">Title</label>
                            <input type="text" class="form-control" id="exampleInputTitle" placeholder="Title"  name="title" required />
                        </div>

                       

                        <div class="form-group">
                            <label>Description</label>
                            <div class="col-xs-12">
                                <angular-editor name="description" [config]="editorConfig"></angular-editor>
                      
                           
                            </div>
                        </div>

                        <button type="submit" class="btn btn-primary mr-2">{{ isEditMode?'Update':'Add'}}</button>
                      <button type="button" class="btn btn-light">Cancel</button>
                    </form>
                </div>


            </div>
            </div>





         
          
        </div>
    </div>

    
</app-layout-admin>