<div class="input-group">
    <input type="file" name="files" class="file-upload-default" [accept]="accept" (change)="onChange($event)" [multiple]="(limit > 1)?true:false" #fileInput>
    <input type="text" class="form-control file-upload-info" disabled="" [placeholder]="placeholder">
    <span class="input-group-append">
    <button class="file-upload-browse btn btn-primary" type="button" (click)="fileInput.click()">Upload</button>
    </span>
</div>

<div class="thumbnails">
    <div *ngFor="let _file of tempFiles" class="tempFile images">
        <img [src]="_file" />
        <div class="overlay"></div>
        <div class="delete-file"><a><i class="mdi mdi-delete"></i></a></div>

    </div>
    <div *ngFor="let _file of imageUrls" class="images">
        <img [src]="_file" />
        <div class="overlay"></div>
        <div class="delete-file"><a><i class="mdi mdi-delete"></i></a></div>

    </div>

</div>
<a><i class="mdi mdi-delete"></i></a>
