.thumbnails {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 20px 0;

    img{
        width:100%;
    }

    &>.images{
        max-width: 250px;
        height: auto;
        padding: 0 10px;
        position: relative;

        
        &:hover{
            .overlay{
                background: #fff;
                opacity: 0.5;
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                padding: 0 10px;
            }

            .delete-file{
                position: absolute;
                top: 0;
                right: 0;
                z-index: 9;

            }
        }


        
    }
}

