<app-layout-admin>
    <div class="content-wrapper">
        <div class="row">
        </div>
    </div>
    <div class="col-md-12 grid-margin">
        <div class="row">
          <div class="col-12 col-xl-8 mb-4 mb-xl-0">
            <h3 class="font-weight-bold">Consultant Listing</h3>
            <!-- <h6 class="font-weight-normal mb-0">All systems are running smoothly! You have <span class="text-primary">3 unread alerts!</span></h6> -->
          </div>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Name</th>
                  <th>Action</th>
              </tr>
              </thead>
              <tbody>
                <tr *ngFor="let _user of consultants; let i = index">
                  <td class="py-1">{{i+1}}</td>
                  <td>{{_user.name}}</td>
                  <td>
                    <button class="btn btn-outline-primary btn-fw btn-sm" [routerLink]="['../edit',_user.id]">Edit</button>
                    <button class="btn btn-outline-primary btn-fw btn-sm" [routerLink]="['../property-list',_user.id]">Property</button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
    </div>

    
</app-layout-admin>