<app-layout-admin>
    <div class="content-wrapper">
        <div class="row">

            <div class="col-12 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">Home Page</h4>
                    <!-- <p class="card-description">
                      Basic form elements
                    </p> -->

                    <div class="text-danger"  #errorHTML>


                    </div>


                    <form class="forms-sample" #homeF="ngForm" (ngSubmit)="homeF.form.valid && update(homeF,errorHTML)" novalidate>
                      <input type="hidden" [(ngModel)]="homePage.id" name="id"  />
                      <div class="form-group">
                        <label>Slide Images</label>
                        <div class="col-xs-12">
                            <app-widget-file-upload limit="2" [files]="homePage.bannerImages" (onAfterUpload)="bannerImageUpload($event)" accept="image/*" placeholder="Upload Multiple Images"></app-widget-file-upload>
                        </div>
                      </div>

                      <div class="form-group">
                        <div class="form-check form-check-primary">
                          <label class="form-check-label">
                            <input type="checkbox" class="form-check-input" checked="">
                            Show "One Solution" Section
                          <i class="input-helper"></i></label>
                        </div>
                      </div>

                      <div class="form-group">
                        <div class="form-check form-check-primary">
                          <label class="form-check-label">
                            <input type="checkbox" class="form-check-input" checked="">
                            Show "Expert are Here" Section
                          <i class="input-helper"></i></label>
                        </div>
                      </div>

                      <div class="form-group">
                        <div class="form-check form-check-primary">
                          <label class="form-check-label">
                            <input type="checkbox" class="form-check-input" checked="">
                            Show "Blog" Section
                          <i class="input-helper"></i></label>
                        </div>
                      </div> 

                      <div class="form-group">
                        <div class="form-check form-check-primary">
                          <label class="form-check-label">
                            <input type="checkbox" class="form-check-input" checked="">
                            Show "Our Suggestion" Section
                          <i class="input-helper"></i></label>
                        </div>
                      </div> 

                      <div class="form-group">
                        <div class="form-check form-check-primary">
                          <label class="form-check-label">
                            <input type="checkbox" class="form-check-input" checked="">
                            Show "Our Excel Guidance for These Cities" Section
                          <i class="input-helper"></i></label>
                        </div>
                      </div> 
                      <div class="form-group">
                        <div class="form-check form-check-primary">
                          <label class="form-check-label">
                            <input type="checkbox" class="form-check-input" checked="">
                            Show "Testimonials" Section
                          <i class="input-helper"></i></label>
                        </div>
                      </div> 
                      <div class="form-group">
                        <div class="form-check form-check-primary">
                          <label class="form-check-label">
                            <input type="checkbox" class="form-check-input" checked="">
                            Show "THE PEOPLE BEHIND OUR SUCCESS" Section
                          <i class="input-helper"></i></label>
                        </div>
                      </div> 
                      <div class="form-group">
                        <div class="form-check form-check-primary">
                          <label class="form-check-label">
                            <input type="checkbox" class="form-check-input" checked="">
                            Show "Grow Together" Section
                          <i class="input-helper"></i></label>
                        </div>
                      </div> 
                      <div class="form-group">
                        <div class="form-check form-check-primary">
                          <label class="form-check-label">
                            <input type="checkbox" class="form-check-input" checked="">
                            Show "Our Trusted Innovators" Section
                          <i class="input-helper"></i></label>
                        </div>
                      </div> 
                      <button type="submit" class="btn btn-primary mr-2">Submit</button>
                      <button class="btn btn-light">Cancel</button>
                    </form>
                  </div>
                </div>
              </div>
        </div>
    </div>
</app-layout-admin>
