<app-layout-admin>
    <div class="content-wrapper">
        <div class="row">

            <div class="col-12 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">Consultant</h4>
                    <!-- <p class="card-description">
                      Basic form elements
                    </p> -->

                    <div class="text-danger"  #errorHTML>


                    </div>


                    <form class="forms-sample" #policyF="ngForm" (ngSubmit)="policyF.form.valid && update(policyF,errorHTML)" novalidate>
                      <input type="hidden"  name="id"  />
                      

                      <div class="form-group">
                        <label for="exampleInputTitle">Name</label>
                        <input type="text" class="form-control" id="exampleInputTitle" placeholder="Name"  name="title" required />
                      </div>
                      <div class="form-group">
                        <label for="exampleInputTitle">Email:</label>
                        <input type="text" class="form-control" id="exampleInputTitle" placeholder="Email"  name="title" required />
                      </div>
                      
                      <div class="form-group">
                        <label>Photo</label>
                        <div class="col-xs-12">
                            <app-widget-file-upload limit="1" [files]="privacyPolicy.banners" (onAfterUpload)="bannerImageUpload($event)" accept="image/*" folder="banner" placeholder="Upload Photo"></app-widget-file-upload>
                        </div>
                      </div>

                      <div class="form-group">
                          <div class="d-flex inline-option-field">
                            <label>Legal</label>
                            <div class="">
                                <input type="radio" value="yes" name="islegal" [(ngModel)]="isLegal"  /> Yes
                                <input type="radio" name="islegal" value="no" [(ngModel)]="isLegal" /> No
                            </div>
                          </div>
                          <div class="row" *ngIf="isLegal=='yes'" >
                            <div class="col-md-4">
                                <div class="form-check">
                                    <label class="form-check-label">
                                    <input type="checkbox" class="form-check-input" checked="">
                                    ESTATE PLANNING
                                    <i class="input-helper"></i></label>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-check">
                                    <label class="form-check-label">
                                    <input type="checkbox" class="form-check-input" checked="">
                                    REAL ESTATE LAW
                                    <i class="input-helper"></i></label>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-check">
                                    <label class="form-check-label">
                                    <input type="checkbox" class="form-check-input" checked="">
                                    EMPLOYMENT LAW
                                    <i class="input-helper"></i></label>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-check">
                                    <label class="form-check-label">
                                    <input type="checkbox" class="form-check-input" checked="">
                                    ACCIDENT LAW
                                    <i class="input-helper"></i></label>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-check">
                                    <label class="form-check-label">
                                    <input type="checkbox" class="form-check-input" checked="">
                                    BUSINESS LAW
                                    <i class="input-helper"></i></label>
                                </div>
                            </div>

                            
                              

                          </div>

                      </div>

                      <div class="form-group">
                        <div class="d-flex inline-option-field">
                            <label>Investment</label>
                            <div class="">
                                <input type="radio" value="yes" name="isinvestment" [(ngModel)]="isInvestment"  /> Yes
                                <input type="radio" value="no" name="isinvestment" [(ngModel)]="isInvestment"/> No
                            </div>
                            
                        </div>
                        
                        <div class="row" *ngIf="isInvestment=='yes'">
                            <div class="col-md-4">
                                <div class="form-check">
                                    <label class="form-check-label">
                                    <input type="checkbox" class="form-check-input" checked="">
                                    Life Insurance Mutual Funds
                                    <i class="input-helper"></i></label>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-check">
                                    <label class="form-check-label">
                                    <input type="checkbox" class="form-check-input" checked="">
                                    Angel Investment For Startup
                                    <i class="input-helper"></i></label>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-check">
                                    <label class="form-check-label">
                                    <input type="checkbox" class="form-check-input" checked="">
                                    Real Estate Investment
                                    <i class="input-helper"></i></label>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-check">
                                    <label class="form-check-label">
                                    <input type="checkbox" class="form-check-input" checked="">
                                    Store Toping
                                    <i class="input-helper"></i></label>
                                </div>
                            </div>
                        </div>


                      </div>
                      
                      <button type="submit" class="btn btn-primary mr-2">Submit</button>
                      <button class="btn btn-light">Cancel</button>
                    </form>
                  </div>
                </div>
              </div>
        </div>
    </div>
</app-layout-admin>
