<app-layout-admin>
    <div class="content-wrapper">
        <div class="row">

            <div class="col-12 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">User</h4>
                    <!-- <p class="card-description">
                      Basic form elements
                    </p> -->

                    <div class="text-danger"  #errorHTML>


                    </div>


                    <form class="forms-sample" #userF="ngForm" (ngSubmit)="userF.form.valid && update(userF,errorHTML)" novalidate>
                      <input type="hidden"  name="id"  />
                      <div class="form-group">
                        <label for="exampleInputTitle">Username</label>
                        <input type="text" class="form-control" id="exampleInputTitle" placeholder="Username" [(ngModel)]="userForm.username"  name="username" #username="ngModel" required />
                      </div>

                      <div class="form-group">
                        <label for="exampleInputTitle">Name</label>
                        <input type="text" class="form-control" id="exampleInputTitle" placeholder="Name"  name="name" [(ngModel)]="userForm.name" #name="ngModel"  required />
                      </div>
                      <div class="form-group">
                        <label for="exampleInputTitle">Email:</label>
                        <input type="text" class="form-control" id="exampleInputTitle" placeholder="Email" [(ngModel)]="userForm.email"  name="title" required />
                      </div>
                      
                      <!-- <div class="form-group">
                        <label>Image</label>
                        <div class="col-xs-12">
                            <app-widget-file-upload limit="1" [files]="privacyPolicy.banners" (onAfterUpload)="bannerImageUpload($event)" accept="image/*" folder="banner" placeholder="Upload Multiple Images"></app-widget-file-upload>
                        </div>
                      </div> -->
                      
                      <button type="submit" class="btn btn-primary mr-2">Submit</button>
                      <button class="btn btn-light">Cancel</button>
                    </form>
                  </div>
                </div>
              </div>
        </div>
    </div>
</app-layout-admin>
