<app-layout-admin>
    <div class="content-wrapper">
        <div class="row">

            <div class="col-12 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">{{ editMode?'Update':'Add'}} Team</h4>
                    <!-- <p class="card-description">
                      Basic form elements
                    </p> -->

                    <div class="text-danger"  #errorHTML>


                    </div>


                    <form class="forms-sample" #policyF="ngForm" (ngSubmit)="policyF.form.valid && update(policyF,errorHTML)" novalidate>
                      <input type="hidden"  name="id"  />
                   
                      <div class="form-group">
                        <label for="exampleInputTitle">Name</label>
                        <input type="text" class="form-control" id="exampleInputTitle" placeholder="Title"  name="title" required />
                      </div>

                      <div class="form-group">
                        <label for="exampleInputDesignation">Designation</label>
                        <input type="text" class="form-control" id="exampleInputDesignation" placeholder="Designation"  name="Designation" required />
                      </div>

                      <div class="form-group">
                        <label for="exampleInputEmail3">Description</label>
                        <angular-editor [(ngModel)]="privacyPolicy.description" name="description" [config]="editorConfig"></angular-editor>
                      </div>

                      <div class="form-group">
                        <label>Photo</label>
                        <div class="col-xs-12">
                            <app-widget-file-upload limit="1" [files]="privacyPolicy.banners" (onAfterUpload)="bannerImageUpload($event)" accept="image/*" folder="banner" placeholder="Upload Multiple Images"></app-widget-file-upload>
                        </div>
                      </div>

                    
                      
                      
                      
                      
                      <button type="submit" class="btn btn-primary mr-2">Submit</button>
                      <button class="btn btn-light">Cancel</button>
                    </form>
                  </div>
                </div>
              </div>
        </div>
    </div>
</app-layout-admin>
