<app-layout-admin>
  <div class="row">
    <div class="content-wrapper">
      <div class="row">
        <div class="col-lg-12">
          <div class="d-flex align-items-center justify-content-between">
            <h3 class="font-weight-bold">Broker</h3>
            <button class="btn btn-outline-primary" type="button">
              <i class="fa fa-user" aria-hidden="true"></i>
              
              Add Broker</button>
          
          </div>
        </div>
        
      </div>
      
    </div>
    <div class="col-md-12 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <div class="d-flex align-items-center justify-content-between">
            <h4 class="card-title">Broker List</h4>
            <div class="form-group pull-right">
              <div class="input-group">
                <input type="text" class="form-control" placeholder="Search" aria-label="Recipient's username">
                <div class="input-group-append">
                  <button class="btn btn-sm btn-primary" type="button">Search</button>
                </div>
              </div>
            </div>

          </div>

          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Name</th>
                  <th>Action</th>
              </tr>
              </thead>
              <tbody>
                <tr *ngFor="let _user of brokers; let i = index">
                  <td class="py-1">{{i+1}}</td>
                  <td>{{_user.name}}</td>
                  <td><button class="btn btn-outline-primary btn-fw btn-sm" [routerLink]="['../edit',_user.id]">Edit</button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

  </div>
    

    
</app-layout-admin>