<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
      <li class="nav-item" routerLinkActive="active" > 
        <a class="nav-link" [routerLink]="['/user/dashboard']">
          <i class="icon-grid menu-icon"></i>
          <span class="menu-title">Dashboard</span>
        </a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" data-toggle="collapse" href="#nav-user-management" aria-expanded="false" aria-controls="nav-user-management">
          <i class="icon-layout menu-icon"></i>
          <span class="menu-title">User Management</span>
          <i class="menu-arrow"></i>
        </a>
        <div class="collapse" id="nav-user-management" routerLinkActive="show">
          <ul class="nav flex-column sub-menu">
            <li class="nav-item"> <a class="nav-link" [routerLink]="['/user/list']">User List</a></li>
            <li class="nav-item"> <a class="nav-link" [routerLink]="['/user/add']">Add User</a></li>
          </ul>
        </div>
      </li>

      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/cms/list']">
          <i class="icon-grid menu-icon"></i>
          <span class="menu-title">CMS Management</span>
        </a>
      </li>

      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" data-toggle="collapse" href="#nav-home-management" aria-expanded="false" aria-controls="nav-home-management">
          <i class="icon-layout menu-icon"></i>
          <span class="menu-title">Home Management</span>
          <i class="menu-arrow"></i>
        </a>
        <div class="collapse" id="nav-home-management" routerLinkActive="show">
          <ul class="nav flex-column sub-menu">
            <li class="nav-item"> <a class="nav-link" [routerLink]="['/landing/one-solution']" >One Solution</a></li>
            <li class="nav-item"> <a class="nav-link" [routerLink]="['/landing/expert-are-here']" >Expert are here</a></li>
            <li class="nav-item"> <a class="nav-link" [routerLink]="['/landing/our-suggestion']" >Our Suggestion</a></li>
            <li class="nav-item"> <a class="nav-link" [routerLink]="['/landing/cities']" >Cities</a></li>
            <li class="nav-item"> <a class="nav-link" [routerLink]="['/landing/grow-together']" >Grow Together</a></li>
            <li class="nav-item"> <a class="nav-link" [routerLink]="['/landing/our-trusted-investors']" >Our Trusted Investors</a></li>
          </ul>
        </div>
      </li>

      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" data-toggle="collapse" href="#nav-property-management" aria-expanded="false" aria-controls="nav-user-management">
          <i class="icon-layout menu-icon"></i>
          <span class="menu-title">Property Management</span>
          <i class="menu-arrow"></i>
        </a>
        <div class="collapse" id="nav-property-management" routerLinkActive="show">
          <ul class="nav flex-column sub-menu">
            <li class="nav-item"> <a class="nav-link" [routerLink]="['/property/list']" >Property List</a></li>
            <li class="nav-item"> <a class="nav-link" [routerLink]="['/property/add']" >Add Property</a></li>
          </ul>
        </div>
      </li>

      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" data-toggle="collapse" href="#nav-broker-management" aria-expanded="false" aria-controls="nav-broker-management">
          <i class="icon-layout menu-icon"></i>
          <span class="menu-title">Broker Management</span>
          <i class="menu-arrow"></i>
        </a>
        <div class="collapse" id="nav-broker-management" routerLinkActive="show">
          <ul class="nav flex-column sub-menu">
            <li class="nav-item"> <a class="nav-link" [routerLink]="['/broker/list']" >Broker List</a></li>
            <li class="nav-item"> <a class="nav-link" [routerLink]="['/broker/add']" >Add Broker</a></li>
          </ul>
        </div>
      </li>

      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" data-toggle="collapse" href="#nav-consultant-management" aria-expanded="false" aria-controls="nav-consultant-management">
          <i class="icon-layout menu-icon"></i>
          <span class="menu-title">Consultant Management</span>
          <i class="menu-arrow"></i>
        </a>
        <div class="collapse" id="nav-consultant-management" routerLinkActive="show">
          <ul class="nav flex-column sub-menu">
            <li class="nav-item"> <a class="nav-link" [routerLink]="['/consultant/list']"  >Consultant List</a></li>
            <li class="nav-item"> <a class="nav-link" [routerLink]="['/consultant/add']"  >Add Consultant</a></li>
          </ul>
        </div>
      </li>

      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" data-toggle="collapse" href="#nav-admin-user-management" aria-expanded="false" aria-controls="nav-admin-user-management">
          <i class="icon-layout menu-icon"></i>
          <span class="menu-title">Sub Admin User</span>
          <i class="menu-arrow"></i>
        </a>
        <div class="collapse" id="nav-admin-user-management" routerLinkActive="show">
          <ul class="nav flex-column sub-menu">
            <li class="nav-item"> <a class="nav-link" >Sub Admin User List</a></li>
            <li class="nav-item"> <a class="nav-link" >Add Sub Admin</a></li>
          </ul>
        </div>
      </li>

      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" data-toggle="collapse" href="#nav-blog-management" aria-expanded="false" aria-controls="nav-blog-management">
          <i class="icon-layout menu-icon"></i>
          <span class="menu-title">Blog Management</span>
          <i class="menu-arrow"></i>
        </a>
        <div class="collapse" id="nav-blog-management" routerLinkActive="show">
          <ul class="nav flex-column sub-menu">
            <li class="nav-item"> <a class="nav-link" [routerLink]="['/blog/list']" >Blog List</a></li>
            <li class="nav-item"> <a class="nav-link" [routerLink]="['/blog/add']" >Add Blog</a></li>
          </ul>
        </div>
      </li>

      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" data-toggle="collapse" href="#nav-team-management" aria-expanded="false" aria-controls="nav-team-management">
          <i class="icon-layout menu-icon"></i>
          <span class="menu-title">Team Management</span>
          <i class="menu-arrow"></i>
        </a>
        <div class="collapse" id="nav-team-management" routerLinkActive="show">
          <ul class="nav flex-column sub-menu">
            <li class="nav-item"> <a class="nav-link" [routerLink]="['/team/list']" >Team List</a></li>
            <li class="nav-item"> <a class="nav-link" [routerLink]="['/team/add']" >Add Team</a></li>
          </ul>
        </div>
      </li>

      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" data-toggle="collapse" href="#nav-testimonial-management" aria-expanded="false" aria-controls="nav-testimonial-management">
          <i class="icon-layout menu-icon"></i>
          <span class="menu-title">Testimonial Management</span>
          <i class="menu-arrow"></i>
        </a>
        <div class="collapse" id="nav-testimonial-management" routerLinkActive="show">
          <ul class="nav flex-column sub-menu">
            <li class="nav-item"> <a class="nav-link" [routerLink]="['/testimonial/list']" >Testimonial List</a></li>
            <li class="nav-item"> <a class="nav-link" [routerLink]="['/testimonial/add']" >Add Testimonial</a></li>
          </ul>
        </div>
      </li>

      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" data-toggle="collapse" href="#nav-faq-management" aria-expanded="false" aria-controls="nav-faq-management">
          <i class="icon-layout menu-icon"></i>
          <span class="menu-title">Faq Management</span>
          <i class="menu-arrow"></i>
        </a>
        <div class="collapse" id="nav-faq-management" routerLinkActive="show">
          <ul class="nav flex-column sub-menu">
            <li class="nav-item"> <a class="nav-link" [routerLink]="['/faq/list']" >Faq List</a></li>
            <li class="nav-item"> <a class="nav-link" [routerLink]="['/faq/add']" >Add Faq</a></li>
            <li class="nav-item"> <a class="nav-link" [routerLink]="['/faq/settings']" >Settings</a></li>
          </ul>
        </div>
      </li>

      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" data-toggle="collapse" href="#nav-nri-management" aria-expanded="false" aria-controls="nav-nri-management">
          <i class="icon-layout menu-icon"></i>
          <span class="menu-title">Nri Management</span>
          <i class="menu-arrow"></i>
        </a>
        <div class="collapse" id="nav-nri-management" routerLinkActive="show">
          <ul class="nav flex-column sub-menu">
            <li class="nav-item"> <a class="nav-link" [routerLink]="['/nri/list']" >NRI List</a></li>
            <li class="nav-item"> <a class="nav-link" [routerLink]="['/nri/add']" >Add NRI</a></li>
            <li class="nav-item"> <a class="nav-link" [routerLink]="['/nri/settings']" >Settings</a></li>
          </ul>
        </div>
      </li>


      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" data-toggle="collapse" href="#nav-ad-management" aria-expanded="false" aria-controls="nav-ad-management">
          <i class="icon-layout menu-icon"></i>
          <span class="menu-title">Ads Management</span>
          <i class="menu-arrow"></i>
        </a>
        <div class="collapse" id="nav-ad-management">
          <ul class="nav flex-column sub-menu">
            <li class="nav-item"> <a class="nav-link" >Ad's List</a></li>
            <li class="nav-item"> <a class="nav-link" >Add Ad's</a></li>
          </ul>
        </div>
      </li>

      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" data-toggle="collapse" href="#nav-report-management" aria-expanded="false" aria-controls="nav-report-management">
          <i class="icon-layout menu-icon"></i>
          <span class="menu-title">Reports</span>
          <i class="menu-arrow"></i>
        </a>
        <div class="collapse" id="nav-report-management">
          <ul class="nav flex-column sub-menu">
            <li class="nav-item"> <a class="nav-link" >Property Report</a></li>
            <li class="nav-item"> <a class="nav-link" >User Report</a></li>
            <li class="nav-item"> <a class="nav-link" >Consultant Report</a></li>
          </ul>
        </div>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/career']">
          <i class="icon-grid menu-icon"></i>
          <span class="menu-title">Career Management</span>
        </a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/landing/settings']">
          <i class="icon-grid menu-icon"></i>
          <span class="menu-title">Settings</span>
        </a>
      </li>

      

      

      

      <!-- <li class="nav-item">
        <a class="nav-link" data-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
          <i class="icon-layout menu-icon"></i>
          <span class="menu-title">UI Elements</span>
          <i class="menu-arrow"></i>
        </a>
        <div class="collapse" id="ui-basic">
          <ul class="nav flex-column sub-menu">
            <li class="nav-item"> <a class="nav-link" href="pages/ui-features/buttons.html">Buttons</a></li>
            <li class="nav-item"> <a class="nav-link" href="pages/ui-features/dropdowns.html">Dropdowns</a></li>
            <li class="nav-item"> <a class="nav-link" href="pages/ui-features/typography.html">Typography</a></li>
          </ul>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="collapse" href="#form-elements" aria-expanded="false" aria-controls="form-elements">
          <i class="icon-columns menu-icon"></i>
          <span class="menu-title">Form elements</span>
          <i class="menu-arrow"></i>
        </a>
        <div class="collapse" id="form-elements">
          <ul class="nav flex-column sub-menu">
            <li class="nav-item"><a class="nav-link" href="pages/forms/basic_elements.html">Basic Elements</a></li>
          </ul>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="collapse" href="#charts" aria-expanded="false" aria-controls="charts">
          <i class="icon-bar-graph menu-icon"></i>
          <span class="menu-title">Charts</span>
          <i class="menu-arrow"></i>
        </a>
        <div class="collapse" id="charts">
          <ul class="nav flex-column sub-menu">
            <li class="nav-item"> <a class="nav-link" href="pages/charts/chartjs.html">ChartJs</a></li>
          </ul>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="collapse" href="#tables" aria-expanded="false" aria-controls="tables">
          <i class="icon-grid-2 menu-icon"></i>
          <span class="menu-title">Tables</span>
          <i class="menu-arrow"></i>
        </a>
        <div class="collapse" id="tables">
          <ul class="nav flex-column sub-menu">
            <li class="nav-item"> <a class="nav-link" href="pages/tables/basic-table.html">Basic table</a></li>
          </ul>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="collapse" href="#icons" aria-expanded="false" aria-controls="icons">
          <i class="icon-contract menu-icon"></i>
          <span class="menu-title">Icons</span>
          <i class="menu-arrow"></i>
        </a>
        <div class="collapse" id="icons">
          <ul class="nav flex-column sub-menu">
            <li class="nav-item"> <a class="nav-link" href="pages/icons/mdi.html">Mdi icons</a></li>
          </ul>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="collapse" href="#auth" aria-expanded="false" aria-controls="auth">
          <i class="icon-head menu-icon"></i>
          <span class="menu-title">User Pages</span>
          <i class="menu-arrow"></i>
        </a>
        <div class="collapse" id="auth">
          <ul class="nav flex-column sub-menu">
            <li class="nav-item"> <a class="nav-link" href="pages/samples/login.html"> Login </a></li>
            <li class="nav-item"> <a class="nav-link" href="pages/samples/register.html"> Register </a></li>
          </ul>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="collapse" href="#error" aria-expanded="false" aria-controls="error">
          <i class="icon-ban menu-icon"></i>
          <span class="menu-title">Error pages</span>
          <i class="menu-arrow"></i>
        </a>
        <div class="collapse" id="error">
          <ul class="nav flex-column sub-menu">
            <li class="nav-item"> <a class="nav-link" href="pages/samples/error-404.html"> 404 </a></li>
            <li class="nav-item"> <a class="nav-link" href="pages/samples/error-500.html"> 500 </a></li>
          </ul>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="pages/documentation/documentation.html">
          <i class="icon-paper menu-icon"></i>
          <span class="menu-title">Documentation</span>
        </a>
      </li> -->

    </ul>
  </nav>