<app-layout-admin>
    <div class="content-wrapper">
        <div class="row">

            <div class="col-12 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">Faq Settings</h4>
                    <!-- <p class="card-description">
                      Basic form elements
                    </p> -->

                    <div class="text-danger"  #errorHTML>


                    </div>


                    <form class="forms-sample" novalidate>
                      <input type="hidden"  name="id"  />
                   
                      <div class="form-group">
                        <label for="exampleInputName">Page Title</label>
                        <input type="text" placeholder="Page Title" class="form-control" />
                      </div>

                      

                      <div class="form-group">
                        <label>Banner</label>
                        <div class="col-xs-12">
                            <app-widget-file-upload limit="2" (onAfterUpload)="bannerImageUpload($event)" accept="image/*" folder="banner" placeholder="Upload Multiple Images"></app-widget-file-upload>
                        </div>
                      </div>

                      <div class="form-group">
                        <label>Icon</label>
                        <div class="col-xs-12">
                            <app-widget-file-upload limit="2" (onAfterUpload)="bannerImageUpload($event)" accept="image/*" folder="banner" placeholder="Icon"></app-widget-file-upload>
                        </div>
                      </div>

                      

                    
                      
                      
                      
                      
                      <button type="submit" class="btn btn-primary mr-2">Submit</button>
                      <button class="btn btn-light">Cancel</button>
                    </form>
                  </div>
                </div>
              </div>
        </div>
    </div>
</app-layout-admin>
