<app-layout-admin>
    <div class="content-wrapper">
        <div class="row">

            <div class="col-12 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">Legal</h4>
                    <!-- <p class="card-description">
                      Basic form elements
                    </p> -->

                    <div class="text-danger"  #errorHTML>


                    </div>


                    <form class="forms-sample" #aboutF="ngForm" (ngSubmit)="aboutF.form.valid && update(aboutF,errorHTML)" novalidate>
                      <input type="hidden" [(ngModel)]="aboutUs.id" name="id"  />
                      <div class="form-group">
                        <label for="exampleInputTitle">Title</label>
                        <input type="text" class="form-control" id="exampleInputTitle" placeholder="Title" [(ngModel)]="aboutUs.title" name="title" #title="ngModel" required />
                        <div class="text-danger" *ngIf="(aboutF.touched || aboutF.submitted) && title.errors?.required">Title is required</div>
                      </div>

                      <div class="form-group">
                        <label>Banner/Slider</label>
                        <div class="col-xs-12">
                            <app-widget-file-upload limit="2" [files]="aboutUs.banners" (onAfterUpload)="bannerImageUpload($event)" accept="image/*" folder="banner" placeholder="Upload Multiple Images"></app-widget-file-upload>
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="exampleInputEmail3">About Us</label>
                        <angular-editor [(ngModel)]="aboutUs.description" name="description" [config]="editorConfig"></angular-editor>
                      </div>
                      
                     
                     

                      <div class="form-group">
                        <div class="form-check form-check-primary">
                          <label class="form-check-label">
                            <input type="checkbox" class="form-check-input" checked="">
                            Show "Property Filter" section
                          <i class="input-helper"></i></label>
                        </div>
                      </div>

                      <div class="form-group">
                        <div class="form-check form-check-primary">
                          <label class="form-check-label">
                            <input type="checkbox" class="form-check-input" checked="">
                            Show "Our Consultant" section
                          <i class="input-helper"></i></label>
                        </div>
                      </div>

                      

                      <div class="form-group">
                        <div class="form-check form-check-primary">
                          <label class="form-check-label">
                            <input type="checkbox" class="form-check-input" checked="">
                            Show "Testimonial" section
                          <i class="input-helper"></i></label>
                        </div>
                      </div>

                      <div class="form-group">
                        <div class="form-check form-check-primary">
                          <label class="form-check-label">
                            <input type="checkbox" class="form-check-input" checked="">
                            Show "Blogs" section
                          <i class="input-helper"></i></label>
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="form-check form-check-primary">
                          <label class="form-check-label">
                            <input type="checkbox" class="form-check-input" checked="">
                            Show "Innovators" section
                          <i class="input-helper"></i></label>
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-lg-6 grid-margin stretch-card">
                            <div class="card">
                              <div class="card-body">
                                <div class="d-flex align-items-center justify-content-between">
                                  <h4 class="card-title">Law's </h4>
                                  <div class="form-group pull-right">
                                    <button class="btn btn-sm btn-primary" type="button" (click)="updateLaw()">Add Law</button>
                                  </div>
                                </div>
                                
                                <div class="table-responsive">
                                  <table class="table table-striped">
                                    <thead>
                                      <tr>
                                        <th>#</th>
                                        <th class="sort sort-asc">Icon</th>
                                        <th class="sort sort-desc">Title</th>
                                        <th>Action</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                      <tr *ngFor="let _law of laws; let i = index">
                                        <td class="py-1">{{i+1}}</td>
                                        <td><img [src]="_law.icon" style="width:50px;height:auto;" /></td>
                                       <td>{{_law.title}}</td>
                                        <td>
                                          <button class="btn btn-primary btn-rounded btn-rounded-edit btn-icon mr-1" (click)="updateLaw()">  <i class="fa fa-pencil" aria-hidden="true"></i>
                                        </button>
                                        <!-- <button class="btn btn-primary btn-rounded btn-rounded-edit btn-icon mr-1" (click)="update()">  <i class="fa fa-trash" aria-hidden="true"></i></button> -->
                                        </td>
                                      </tr>
                                    </tbody>
                                  </table>
                                </div>
                
                
                
                              </div>
                            </div>
                
                          </div>
                          <div class="col-lg-6 grid-margin stretch-card">

                            <div class="card" *ngIf="isEditMode">
                                <div class="card-body">
                                  <h4 class="card-title">{{ isEditMode?'Update':'Add New'}}</h4>
                                  <!-- <p class="card-description">
                                    Basic form elements
                                  </p> -->
                
                                  <div class="text-danger"  #errorHTML>
                
                
                                  </div>
                
                
                                    <form class="forms-sample" novalidate>
                                        <input type="hidden"  name="id"  />
                                        <div class="form-group">
                                            <label for="exampleInputTitle">Title</label>
                                            <input type="text" class="form-control" id="exampleInputTitle" placeholder="Title"  name="title" required />
                                        </div>
                
                                        <div class="form-group">
                                            <label>Icon</label>
                                            <div class="col-xs-12">
                                                <app-widget-file-upload limit="2"  accept="image/*" placeholder="Upload Icon"></app-widget-file-upload>
                                            </div>
                                        </div>
                
                                        <div class="form-group">
                                            <label>Description</label>
                                            <div class="col-xs-12">
                                                <angular-editor name="description" [config]="editorConfig"></angular-editor>
                                      
                                           
                                            </div>
                                        </div>
                
                                        <button type="submit" class="btn btn-primary mr-2">{{ isEditMode?'Update':'Add'}}</button>
                                      <button type="button" class="btn btn-light">Cancel</button>
                                    </form>
                                </div>
                
                
                            </div>
                            </div>

                      </div>
                      
                      <button type="submit" class="btn btn-primary mr-2">Submit</button>
                      <button class="btn btn-light">Cancel</button>
                    </form>
                  </div>
                </div>
              </div>
        </div>
    </div>
</app-layout-admin>