<app-layout-admin>
    <div class="content-wrapper">
        <div class="row">

            <div class="col-12 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">{{ isEditMode? 'Edit Property':'Add Property'}}</h4>
                    <!-- <p class="card-description">
                      Basic form elements
                    </p> -->

                    <div class="text-danger"  #errorHTML>


                    </div>


                    <form class="forms-sample" #policyF="ngForm" (ngSubmit)="policyF.form.valid && update(policyF,errorHTML)" novalidate>
                      <input type="hidden" [(ngModel)]="property.id" name="id"  />
                        <div class="form-group">
                            <label for="exampleInputTitle">Owner</label>
                            <select class="form-control" id="exampleInputTitle">
                                <option>User A</option>
                                <option>User B</option>
                            </select>
                    
                        </div>

                      <div class="form-group">
                        <label for="exampleInputTitle">Title</label>
                        <input type="text" class="form-control" id="exampleInputTitle" placeholder="Title" [(ngModel)]="property.title" name="title" #title="ngModel" required />
                        
                        <div class="text-danger" *ngIf="(policyF.touched || policyF.submitted) && title.errors?.required">Title is required</div>
                      </div>

                      <div class="form-group">
                        <label for="exampleInputLocation">Location</label>
                        <input type="text" class="form-control" id="exampleInputLocation" placeholder="Location" [(ngModel)]="property.location" name="location" #location="ngModel" required />
                        
                        <div class="text-danger" *ngIf="(policyF.touched || policyF.submitted) && title.errors?.required">Location is required</div>
                      </div>
                      
                      <div class="form-group">
                        <label for="exampleInputEmail3">Description</label>
                        <angular-editor [(ngModel)]="property.description" name="description" [config]="editorConfig"></angular-editor>
                      </div>
                      
                        <div class="form-group">
                            <label>Photos</label>
                            <div class="col-xs-12">
                                <app-widget-file-upload limit="2" [files]="property.images" (onAfterUpload)="onPhotoUpload($event)" accept="image/*" folder="property" placeholder="Upload Multiple Images"></app-widget-file-upload>
                            </div>
                        </div>

                       

                    

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Featured</label>
                                <div class="col-xs-12">
                                    <div class="form-check">
                                        <label class="form-check-label">
                                            <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios1" value="true">
                                            Yes
                                            <i class="input-helper"></i>
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <label class="form-check-label">
                                            <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios2" value="false" checked="">
                                            No
                                            <i class="input-helper"></i>
                                        </label>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Type</label>
                                <div class="col-xs-12">
                                    <div class="form-check">
                                        <label class="form-check-label">
                                            <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios1" value="rent">
                                            Rented
                                            <i class="input-helper"></i>
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <label class="form-check-label">
                                            <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios2" value="owned" checked="">
                                            Self Owned
                                            <i class="input-helper"></i>
                                        </label>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="exampleInputPropertyID">Property ID</label>
                                <input type="text" class="form-control" id="exampleInputPropertyID" placeholder="Property ID" required />
                            </div>

                            <div class="form-group">
                                <label for="exampleInputHomeArea">Home Area</label>
                                <input type="text" class="form-control" id="exampleInputHomeArea" placeholder="Home Area" required />
                            </div>

                            <div class="form-group">
                                <label for="exampleInputRooms">Rooms</label>
                                <input type="text" class="form-control" id="exampleInputRooms" placeholder="Rooms" required />
                            </div>

                            <div class="form-group">
                                <label for="exampleInputBaths">Baths</label>
                                <input type="text" class="form-control" id="exampleInputBaths" placeholder="Baths" required />
                            </div>

                            <div class="form-group">
                                <label for="exampleInputBuilt">Year Built</label>
                                <input type="text" class="form-control" id="exampleInputBuilt" placeholder="Year Built" required />
                            </div>

                        </div>
                        <div class="col-md-6">

                            <div class="form-group">
                                <label for="exampleInputLotArea">Lot Area</label>
                                <input type="text" class="form-control" id="exampleInputLotArea" placeholder="Lot Area" required />
                            </div>

                            <div class="form-group">
                                <label for="exampleInputLotDimensions">Lot Dimensions</label>
                                <input type="text" class="form-control" id="exampleInputLotDimensions" placeholder="Lot Dimensions" required />
                            </div>

                            <div class="form-group">
                                <label for="exampleInputBeds">Beds</label>
                                <input type="text" class="form-control" id="exampleInputBeds" placeholder="Beds" required />
                            </div>

                            <div class="form-group">
                                <label for="exampleInputPrice">Price</label>
                                <input type="text" class="form-control" id="exampleInputPrice" placeholder="Price" required />
                            </div>

                            <div class="form-group">
                                <label for="exampleInputPropertyStatus">Property Status</label>
                                <input type="text" class="form-control" id="exampleInputPropertyStatus" placeholder="Property Status" required />
                            </div>

                        </div>

                    </div>

                    <div class="form-group">
                        <label>Features</label>
                        <div class="col-xs-12">
                            <div class="form-inline pb-2">
                                <label>Living Room</label>
                                <div class="input-group ml-2">
                                    <input placeholder="Width" class="form-control" />
                                    <div class="input-group-append">
                                        <div class="input-group-text"> Sq. Ft</div>
                                    </div>
                                </div>
                                &nbsp; X &nbsp;
                                <div class="input-group">
                                    <input placeholder="Height" class="form-control" />
                                    <div class="input-group-append">
                                        <div class="input-group-text"> Sq. Ft</div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-inline pb-2">
                                <label>Garage Room</label>
                                <div class="input-group ml-2">
                                    <input placeholder="Width" class="form-control" />
                                    <div class="input-group-append">
                                        <div class="input-group-text"> Sq. Ft</div>
                                    </div>
                                </div>
                                &nbsp; X &nbsp;
                                <div class="input-group">
                                    <input placeholder="Height" class="form-control" />
                                    <div class="input-group-append">
                                        <div class="input-group-text"> Sq. Ft</div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-inline pb-2">
                                <label>Dining Area</label>
                                <div class="input-group ml-2">
                                    <input placeholder="Width" class="form-control" />
                                    <div class="input-group-append">
                                        <div class="input-group-text"> Sq. Ft</div>
                                    </div>
                                </div>
                                &nbsp; X &nbsp;
                                <div class="input-group">
                                    <input placeholder="Height" class="form-control" />
                                    <div class="input-group-append">
                                        <div class="input-group-text"> Sq. Ft</div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-inline pb-2">
                                <label>Bedroom</label>
                                <div class="input-group ml-2">
                                    <input placeholder="Width" class="form-control" />
                                    <div class="input-group-append">
                                        <div class="input-group-text"> Sq. Ft</div>
                                    </div>
                                </div>
                                &nbsp; X &nbsp;
                                <div class="input-group">
                                    <input placeholder="Height" class="form-control" />
                                    <div class="input-group-append">
                                        <div class="input-group-text"> Sq. Ft</div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-inline pb-2">
                                <label>Bathroom</label>
                                <div class="input-group ml-2">
                                    <input placeholder="Width" class="form-control" />
                                    <div class="input-group-append">
                                        <div class="input-group-text"> Sq. Ft</div>
                                    </div>
                                </div>
                                &nbsp; X &nbsp;
                                <div class="input-group">
                                    <input placeholder="Height" class="form-control" />
                                    <div class="input-group-append">
                                        <div class="input-group-text"> Sq. Ft</div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-inline pb-2">
                                <label>Gym Area</label>
                                <div class="input-group ml-2">
                                    <input placeholder="Width" class="form-control" />
                                    <div class="input-group-append">
                                        <div class="input-group-text"> Sq. Ft</div>
                                    </div>
                                </div>
                                &nbsp; X &nbsp;
                                <div class="input-group">
                                    <input placeholder="Height" class="form-control" />
                                    <div class="input-group-append">
                                        <div class="input-group-text"> Sq. Ft</div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-inline pb-2">
                                <label>Garden</label>
                                <div class="input-group ml-2">
                                    <input placeholder="Width" class="form-control" />
                                    <div class="input-group-append">
                                        <div class="input-group-text"> Sq. Ft</div>
                                    </div>
                                </div>
                                &nbsp; X &nbsp;
                                <div class="input-group">
                                    <input placeholder="Height" class="form-control" />
                                    <div class="input-group-append">
                                        <div class="input-group-text"> Sq. Ft</div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-inline pb-2">
                                <label>Parking</label>
                                <div class="input-group ml-2">
                                    <input placeholder="Width" class="form-control" />
                                    <div class="input-group-append">
                                        <div class="input-group-text"> Sq. Ft</div>
                                    </div>
                                </div>
                                &nbsp; X &nbsp;
                                <div class="input-group">
                                    <input placeholder="Height" class="form-control" />
                                    <div class="input-group-append">
                                        <div class="input-group-text"> Sq. Ft</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label>Amenties</label>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-check">
                                    <label class="form-check-label">
                                      <input type="checkbox" class="form-check-input" checked="">
                                      Air Conditioning 
                                    <i class="input-helper"></i></label>
                                </div>
    
                                <div class="form-check">
                                    <label class="form-check-label">
                                      <input type="checkbox" class="form-check-input" checked="">
                                      Gym 
                                    <i class="input-helper"></i></label>
                                </div>
                                <div class="form-check">
                                    <label class="form-check-label">
                                      <input type="checkbox" class="form-check-input" checked="">
                                      Microwave 
                                    <i class="input-helper"></i></label>
                                </div>
                                <div class="form-check">
                                    <label class="form-check-label">
                                      <input type="checkbox" class="form-check-input" checked="">
                                      Swimming Pool  
                                    <i class="input-helper"></i></label>
                                </div>
                                <div class="form-check">
                                    <label class="form-check-label">
                                      <input type="checkbox" class="form-check-input" checked="">
                                      WiFi 
                                    <i class="input-helper"></i></label>
                                </div>
    
                            </div>
                            <div class="col-md-4">
    
                                <div class="form-check">
                                    <label class="form-check-label">
                                      <input type="checkbox" class="form-check-input" checked="">
                                      Barbeque 
                                    <i class="input-helper"></i></label>
                                </div>
    
                                <div class="form-check">
                                    <label class="form-check-label">
                                      <input type="checkbox" class="form-check-input" checked="">
                                      Recreation 
                                    <i class="input-helper"></i></label>
                                </div>
                                <div class="form-check">
                                    <label class="form-check-label">
                                      <input type="checkbox" class="form-check-input" checked="">
                                      Microwave 
                                    <i class="input-helper"></i></label>
                                </div>
                                <div class="form-check">
                                    <label class="form-check-label">
                                      <input type="checkbox" class="form-check-input" checked="">
                                      Basketball Cout 
                                    <i class="input-helper"></i></label>
                                </div>
                                <div class="form-check">
                                    <label class="form-check-label">
                                      <input type="checkbox" class="form-check-input" checked="">
                                      Fireplace 
                                    <i class="input-helper"></i></label>
                                </div>
    
                            </div>
                            <div class="col-md-4">
    
                                <div class="form-check">
                                    <label class="form-check-label">
                                      <input type="checkbox" class="form-check-input" checked="">
                                      Refrigerator 
                                    <i class="input-helper"></i></label>
                                </div>
    
                                <div class="form-check">
                                    <label class="form-check-label">
                                      <input type="checkbox" class="form-check-input" checked="">
                                      Window Coverings 
                                    <i class="input-helper"></i></label>
                                </div>
                                <div class="form-check">
                                    <label class="form-check-label">
                                      <input type="checkbox" class="form-check-input" checked="">
                                      Washer 
                                    <i class="input-helper"></i></label>
                                </div>
                                <div class="form-check">
                                    <label class="form-check-label">
                                      <input type="checkbox" class="form-check-input" checked="">
                                      24x7 Security
                                    <i class="input-helper"></i></label>
                                </div>
                                <div class="form-check">
                                    <label class="form-check-label">
                                      <input type="checkbox" class="form-check-input" checked="">
                                      Indoor Gam 
                                    <i class="input-helper"></i></label>
                                </div>
    
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Location</label>
                        <div class="col-xs-12">
                            <iframe _ngcontent-sdw-c71="" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3502.1336212894926!2d77.37690835018294!3d28.625757091053117!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390cefca31d4528d%3A0x9b685ad153d37b83!2sInfotrench%20Technologies!5e0!3m2!1sen!2sin!4v1633590227257!5m2!1sen!2sin" allowfullscreen="" loading="lazy" style="border: 0;" width="100%" height="450"></iframe>
                        </div>
                    </div>

                    <div class="form-group">
                        <label>Video</label>
                        <div class="col-xs-12">
                            <input type="text" class="form-control" id="exampleInputTitle" placeholder="Video" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label>Floor Plans</label>
                        <div class="col-xs-12">
                            <ul class="nav  nav-underline">
                                <li class="nav-item active"><a>First Floor</a></li>
                                <li class="nav-item"><a>Second Floor</a></li>
                                <li class="nav-item"><a>Third Floor</a></li>
                            </ul>
                            <div>
                                <div class="form-group">
                                    <label>Floor Image</label>
                                    <div class="col-xs-12">
                                        <input type="file" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>Floor Description</label>
                                    <div class="col-xs-12">
                                        <angular-editor [(ngModel)]="property.description" name="description" [config]="editorConfig"></angular-editor>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">

                                    </div>
                                    <div class="col-md-6">

                                    </div>

                                </div>

                            </div>
                        </div>

                    </div>
                        
                      
                      <button type="submit" class="btn btn-primary mr-2">Submit</button>
                      <button class="btn btn-light">Cancel</button>
                    </form>
                  </div>
                </div>
              </div>
        </div>
    </div>
</app-layout-admin>
