/* You can add global styles to this file, and also import other style files */
.btn.btn-icon{
    width:30px;
    height: 30px;
}

a.btn.btn-icon{
    padding: 5px;

    span{
        font-size: 1rem;
    }
}

.sort{
    position: relative;
    cursor: pointer;
    &:before{
        color: rgba(40, 47, 58, 0.2);
        position: absolute;
        content:"\f0dc";
        right:0;
        font-family: FontAwesome;

    }
}

.sort-asc{

    &:after{
        position: absolute;
        content:"\f0de";
        right:0;
        font-family: FontAwesome;

    }

}

.sort-desc{

    &:after{
        position: absolute;
        content:"\f0dd";
        right:0;
        font-family: FontAwesome;

    }

}