<div class="content-wrapper d-flex align-items-center auth px-0">
    <div class="row w-100 mx-0">
      <div class="col-lg-4 mx-auto">
        <div class="auth-form-light text-left py-5 px-4 px-sm-5">
          <div class="brand-logo">
            <img src="assets/images/Bricks-logo.png" alt="logo">
          </div>
          <h4>Hello! let's get started</h4>
          <h6 class="font-weight-light">Sign in to continue.</h6>
          <div class="text-danger text-center" *ngIf="loginResponseError">{{loginResponseError}}</div>
            
          <form class="pt-3" #loginF="ngForm" (ngSubmit)="loginF.form.valid && loginSubmit(loginF)" novalidate>
            <div class="form-group">
              <input type="email" class="form-control form-control-lg" placeholder="Username" [(ngModel)]="loginForm.username" name="username" #username="ngModel"  required/>
              <div class="text-danger" *ngIf="(loginF.touched || loginF.submitted) && username.errors?.required">Username is required</div>
            
            </div>
            <div class="form-group">
              <input type="password" class="form-control form-control-lg" id="exampleInputPassword1" placeholder="Password" [(ngModel)]="loginForm.password" name="password" #password="ngModel"  required>
              <div class="text-danger" *ngIf="(loginF.touched || loginF.submitted) && password.errors?.required">Password is required</div>
            </div>
            

            


            <div class="mt-3">
              <button class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn">Login</button>
            </div>
            <div class="my-2 d-flex justify-content-between align-items-center">
              <div class="form-check">
                <label class="form-check-label text-muted">
                  <input type="checkbox" class="form-check-input">
                  Keep me signed in
                </label>
              </div>
              <a href="#" class="auth-link text-black" [routerLink]="['/user/forget-password']">Forgot password?</a>
            </div>
            <!-- <div class="mb-2">
              <button type="button" class="btn btn-block btn-facebook auth-form-btn">
                <i class="ti-facebook mr-2"></i>Connect using facebook
              </button>
            </div>
            <div class="text-center mt-4 font-weight-light">
              Don't have an account? <a href="register.html" class="text-primary">Create</a>
            </div> -->
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- content-wrapper ends -->
