<app-layout-admin>
    <div class="content-wrapper">
        <div class="row">

            <div class="col-12 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">{{ editMode?'Update':'Add'}} Faq</h4>
                    <!-- <p class="card-description">
                      Basic form elements
                    </p> -->

                    <div class="text-danger"  #errorHTML>


                    </div>


                    <form class="forms-sample" #policyF="ngForm" (ngSubmit)="policyF.form.valid && update(policyF,errorHTML)" novalidate>
                      <input type="hidden"  name="id"  />
                   
                      <div class="form-group">
                        <label for="exampleInputTitle">Question?</label>
                        <textarea class="form-control" name="question" id="exampleInputQuestion" placeholder="Question"  ></textarea>
                        
                      </div>

                      

                      <div class="form-group">
                        <label for="exampleInputAnswer">Answer</label>
                        <textarea class="form-control" name="question" id="exampleInputAnswer" placeholder="Answer"  ></textarea>
                      </div>

                      

                    
                      
                      
                      
                      
                      <button type="submit" class="btn btn-primary mr-2">Submit</button>
                      <button class="btn btn-light">Cancel</button>
                    </form>
                  </div>
                </div>
              </div>
        </div>
    </div>
</app-layout-admin>
