<!-- partial:partials/_navbar.html -->
<app-top-nav-bar></app-top-nav-bar>
<!-- partial -->
<div class="container-fluid page-body-wrapper">
  <!-- partial:partials/_settings-panel.html -->
  <app-theme-setting></app-theme-setting>
  <app-right-side-bar></app-right-side-bar>
  <!-- partial -->
  <!-- partial:partials/_sidebar.html -->
  <app-side-menu></app-side-menu>
  <!-- partial -->
  <div class="main-panel">
    <ng-content></ng-content>
    <!-- content-wrapper ends -->
    <!-- partial:partials/_footer.html -->
    <footer class="footer">
      <div class="d-sm-flex justify-content-center justify-content-sm-between">
        <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Copyright © 2021.  Premium <a href="https://www.bootstrapdash.com/" target="_blank">Bootstrap admin template</a> from BootstrapDash. All rights reserved.</span>
        <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Hand-crafted & made with <i class="ti-heart text-danger ml-1"></i></span>
      </div>
    </footer>
    <!-- partial -->
  </div>
  <!-- main-panel ends -->
</div>
<!-- page-body-wrapper ends -->

