<app-layout-admin>
    <div class="content-wrapper">
        <div class="row">

            <div class="col-12 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">Contact US</h4>
                    <!-- <p class="card-description">
                      Basic form elements
                    </p> -->

                    <div class="text-danger"  #errorHTML>


                    </div>


                    <form class="forms-sample" #contactF="ngForm" (ngSubmit)="contactF.form.valid && update(contactF,errorHTML)" novalidate>
                      <input type="hidden" [(ngModel)]="contactUs.id" name="id"  />
                      <div class="form-group">
                        <label for="exampleInputTitle">Title</label>
                        <input type="text" class="form-control" id="exampleInputTitle" placeholder="Title" [(ngModel)]="contactUs.title" name="title" #title="ngModel" required />
                        <div class="text-danger" *ngIf="(contactF.touched || contactF.submitted) && title.errors?.required">Title is required</div>
                      </div>
                      <div class="form-group">
                        <label for="exampleInputEmail3">Description</label>
                        <angular-editor [(ngModel)]="contactUs.description" name="description" [config]="editorConfig"></angular-editor>
                      </div>
                      
                      <div class="form-group">
                        <label>Icons</label>
                        <div class="col-xs-12">
                          <app-widget-file-upload limit="1" [files]="contactUs.icons" (onAfterUpload)="iconImageUpload($event)" accept="image/*" folder="icons" placeholder="Upload Icon"></app-widget-file-upload>
                      </div>
                      </div>

                      <div class="form-group">
                        <label>Banner</label>
                        <div class="col-xs-12">
                            <app-widget-file-upload limit="2" [files]="contactUs.banners" (onAfterUpload)="bannerImageUpload($event)" accept="image/*" folder="banner" placeholder="Upload Multiple Images"></app-widget-file-upload>
                        </div>
                      </div>
                      
                      <button type="submit" class="btn btn-primary mr-2">Submit</button>
                      <button class="btn btn-light">Cancel</button>
                    </form>
                  </div>
                </div>
              </div>
        </div>
    </div>
</app-layout-admin>
