<app-layout-admin>
    <div class="content-wrapper">
        <div class="row">
          <div class="col-lg-12">
            <div class="d-flex align-items-center justify-content-between">
              <h3 class="font-weight-bold">Settings</h3>
              <!-- <button class="btn btn-outline-primary" (click)="add()" type="button">
                <i class="fa fa-user" aria-hidden="true"></i>
                
                Add New</button> -->
            
            </div>
          </div>
          
        </div>
    </div>
    <div class="col-md-12 grid-margin">
        <div class="row">
          <div class="col-lg-6 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Header</h4>
                  <!-- <p class="card-description">
                    Basic form elements
                  </p> -->

                  <div class="text-danger"  #errorHTML>


                  </div>


                    <form class="forms-sample" novalidate>
                        <input type="hidden"  name="id"  />
                        <div class="form-group">
                            <label for="exampleInputPhone">Phone</label>
                            <input type="text" class="form-control" id="exampleInputPhone" placeholder="Phone"  name="phone" required />
                        </div>

                        <div class="form-group">
                            <label>Logo</label>
                            <div class="col-xs-12">
                                <app-widget-file-upload limit="2"  accept="image/*" placeholder="Upload Icon"></app-widget-file-upload>
                            </div>
                        </div>

                        

                    <button type="submit" class="btn btn-primary mr-2">Update</button>
                      <button type="button" class="btn btn-light">Cancel</button>
                    </form>
                </div>


            </div>

          </div>

          <div class="col-lg-6 grid-margin stretch-card">

            <div class="card" >
                <div class="card-body">
                  <h4 class="card-title">Footer</h4>
                  <!-- <p class="card-description">
                    Basic form elements
                  </p> -->

                  <div class="text-danger"  #errorHTML>


                  </div>


                    <form class="forms-sample" novalidate>
                        <input type="hidden"  name="id"  />
                        

                        <div class="form-group">
                            <label>Logo</label>
                            <div class="col-xs-12">
                                <app-widget-file-upload limit="2"  accept="image/*" placeholder="Upload Icon"></app-widget-file-upload>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="exampleInputFooterPhone">Phone</label>
                            <input type="text" class="form-control" id="exampleInputFooterPhone" placeholder="Phone"  name="phone" required />
                        </div>

                        <div class="form-group">
                            <label for="exampleInputWhatapp">What's app</label>
                            <input type="text" class="form-control" id="exampleInputWhatapp" placeholder="What's app"  name="whatsapp" required />
                        </div>
                        <div class="form-group">
                            <label for="exampleInputContactEmail">Email</label>
                            <input type="text" class="form-control" id="exampleInputContactEmail" placeholder="Email"  name="email" required />
                        </div>


                        <div class="form-group">
                            <label for="exampleInputPhone">Address</label>
                          <textarea class="form-control"></textarea>
                        </div>

                        

                        <button type="submit" class="btn btn-primary mr-2">Update</button>
                      <button type="button" class="btn btn-light">Cancel</button>
                    </form>
                </div>


            </div>
            </div>





         
          
        </div>
    </div>

    
</app-layout-admin>